@model ProjetoTT.Models.Usuario;
@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>

<form asp-action="Cadastro" method="post">
    <div>
        <label>Nome:</label>
        <input type="text" name="Nome" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="Email" required />
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="Senha" required />
    </div>
    <button type="submit">Cadastro</button>
</form>
